{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="container-fluid">

        <div class="row">
            <h1 class="col-12 text-center my-5">Le Blog de Batman</h1>
        </div>

        <div class="row">
            <h2 class="text-center col-12 my-4">Lorem ipsum dolor sit amet, consectetur  elit. Ad  facilis fuga nobis rem suscipit!</h2>


            <p class="col-12 col-md-10 offset-md-1 text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa iusto, laboriosam nesciunt possimus rerum temporibus voluptatem. Animi dolorum non obcaecati! Accusamus accusantium aut consequatur debitis doloremque ducimus, ea eveniet ex id minus nulla officiis, quam qui quia quisquam repudiandae rerum, totam vel voluptatem voluptatum. Atque ducimus enim esse expedita maxime perferendis, similique ut. Deleniti hic molestiae odit rem totam voluptates!</p>
        </div>

        <div class="batman-cover row my-5"></div>
    </div>

{% endblock %}
