{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

    <div class="container-fluid">

        {# Bloc de gauche #}
        <div class="col-12 col-md-3 bg-black px-2 py-3 text-center">

            {# Image de profil #}
            <div class="row">
                <div class="col-12 profil-photo mx-2 d-flex justify-content-center align-items-center">


                </div>
            </div>

            {# Lien vers la page permettant de changer de photo de profil #}
            <div class="row">
                <div class="col-12 pt-3">
                    <a href="#">Modifier la photo de profil</a>
                </div>
            </div>
        </div>

        <div class="row">
            <h1 class="col-12 text-center my-5 ">Profil de {{ app.user.pseudonym }}<i class="fas fa-smile mx-1"></i></h1>
        </div>

        <div class="row">



            <p class="col-12 col-md-4 offset-md-1 ">Ton email : {{ app.user.email }}</div>
            <p class="col-12 col-md-4 offset-md-1 ">Arrivée à Gotham : {{ app.user.registrationDate|date('d/m/Y \\v\\e\\r\\s H\\h') }}</div>
            <p class="col-12 col-md-4 offset-md-2 ">---> Ton rang: {{ is_granted('ROLE_ADMIN') ? 'Administrateur' : 'Utilisateur' }}</div>

        <div class="batman-cover row my-5"></div>
    </div>

{% endblock %}